<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">  
  </head>
  <body id="main">
    <h1><%= title %></h1>
      <nav>
        <ul>
          <a href="/flights">All Flights</a>
          <a href="flights/new">New Flights</a>
        </ul>
      </nav>
  </body>
</html>
