body {
  padding: 50px;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #232323;
}
/* #main {
  background-image: url(https://i.imgur.com/9qE2ZF0.jpg)
}
#flightsMenu {
  background-image: url(https://i.imgur.com/leju2T8.jpeg);
  background-size: 90%;
} */


a {
  color: #232323;
  padding-inline: 40px;
  /* font-size: ; */
}
h1 {
 text-align: center;
 font-size: 120px;
 padding: 20px 0px 15px 0px;
 margin: 0;
 color: lightgray;
}
nav {
  text-align: center;
  font-size: 50px;
  background-color: lightgray;
  
}
table {
  float: right;
  color: lightgray;
  font-size: 18px;
}
#mainMenu {
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
  background-color: lightgray;
  font-size: 50px;
  color: #232323;
}
th {
  border-bottom: 3px solid;
  padding-right: 25px;
}
td {
  border-bottom: 1px solid;
  border-right: 1px solid;
}
/* #new {
  background-image: url(https://i.imgur.com/9qE2ZF0.jpg);
} */
#newForm {
  float: right;
}
label {
  color: lightgray;
  font-size: 55px;
}
#addFlight {
  font-size: 50px;
  padding: 5px 10px 5px 10px;
  margin: 30px;
}
select {
  font-size: 40px;
}
#date {
  font-size: 40px;
}
#flightNo {
  font-size: 55px;
  color: lightgray;
}
#num {
  font-size: 40px;
}
#details {
  color: lightgray
}
#detailPage {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    background-color: red;
}